// - - - - - - - - - - - - - - - - - -

// Profile

// - - - - - - - - - - - - - - - - - -


.hero {
	position: relative;
	margin-top: 20px;
	padding: 60px 0 100px;
	background: $hero-background-color;

	@include mq(tabletp) {
		margin-top: 25px;
		padding: 120px 0 180px;
	}

	@include mq(laptop) {
		margin-top: 30px;
		padding: 160px 0 220px;
	}

	h1 {
		color: $hero-text-color;

		@include mq(tabletp) {
			white-space: pre-line;
		}
	}

	p {
		color: rgba($hero-text-color, 0.8);

		@include mq(tabletp) {
			margin-top: 25px;
		}

		@include mq(laptop) {
			margin-top: 30px;
		}
	}

	.socials {
		margin-top: 15px;

		@include mq(tabletp) {
			margin-top: 25px;
		}

		@include mq(laptop) {
			margin-top: 30px;
		}
	}

	.socials__item__link {
		background: rgba($hero-text-color, 0.8);
		color: $hero-background-color;

		&:hover {
			background: $hero-text-color;
		}
	}
}

.hero__avatar {
    // border: 11px solid rgba(210, 0, 104, 0.1);
    // border-radius: 50%;
    // box-shadow: 0 0 1px 11px rgba(210, 0, 104, 0.15), 0 0 1px 22px rgba(210, 0, 104, 0.1);
    display: inline-block;
    width: $avatar-small;

    @include mq(tabletp) {
	width: $avatar-medium;
    }

    @include mq(laptop) {
	width: $avatar-large;
    }

}

.hero__image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right,
				    rgba($hero-gradient-color, 0.5),
				    rgba($hero-gradient-color, 0) 50%,
				    rgba($hero-gradient-color, 0));
}
