---
layout: default
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url(/images/banners/onas.jpg)">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

	  <h1>{{ page.title }}</h1>
	  <p>{{ page.subtitle }}</p>
	</div>

</section>

<section class="single">

	<div class="wrap">

	  <article class="single-post">
	    <div style="text-align: center; padding: 10px">
	      <img src="{{ page.featured_image }}" alt="" class="hero__avatar">
	      </div>
			{{ page.content }}

		</article>
	  <p><a href="/o-nas" class="button button--large">Wróć</a></p>
	</div>

</section>
